.button{
    font-size: 14px;
              line-height: 19px;
              text-align: center;
              border: 1px solid #FF6A6A;
              color: #F26376;
              background: #FFFFFF;
              padding: px 20px;
      
              justify-self: center;
  }