.form {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
}
.inputText {
  width: 100%;
  max-width: 150px;
  border-radius: 3px;
  overflow: hidden;
}
.button {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  border: 1px solid #ff6a6a;
  color: #f26376;
  background: #ffffff;
  padding: px 20px;

  justify-self: center;
}
.textMessage {
  text-align: left;
  font-size: 24px;
  color: #4b4a4a;
}
